.container{
    &__content{
        padding: 1em 0;
        width: 80%;
        margin: 0 auto;
        &__header{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5em;
            h1{
                font-size: 5em;
                color: #fff;
                text-align: center;
            }
            p{
                font-size: 2em;
                color: #fff;
                text-align: center;
                
            }
        }
        &__nav{
            display: none;
            float: left;
            width: 25%;
            padding: 0 1em;
            &__part{
                width: 100%;
                border-radius: 0.5em;
                border: solid 1px rgb(185, 184, 184);
                &__title{
                    background-color: rgb(69, 145, 233);
                    padding: 0.5em;
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                }
                &__content{
                    &__option{
                        margin: 0.5em 0;
                        &__title{
                            display: flex;
                            justify-content: space-between;
                            border-left: solid 3px rgba(15, 90, 228, 0.5);
                            background-color: rgba(88, 184, 240, 0.7);
                            padding: 0.5em;
                        }
                        &__content{
                            &__filter{
                                display: flex;
                                align-items: center;
                                padding: 0.5em;
                                input{
                                    width: 1.2em;
                                    height: 1.2em;
                                    margin-right: 0.5em;
                                }
                            }
                        }
                    }
                }
                .fa-chevron-down{
                    display: block;
                    font-size: 1.2em;
                }
                .fa-chevron-up{
                    display: none;
                    font-size: 1.2em;
                }
            }
        }
        &__post{
            width: 100%;
            float: left;
            &__place{
                color: #39d1e6;
                border-bottom: solid 1px gray;
            }
            .block{
                width: 100%;
                border-bottom: solid 1px gray;
            }
            .bg-img{
                width: 100%;
            }
            &__detail{
                width: 100%;
                //display: flex;
                &__content{
                    &__info{
                        padding: 1em;
                    }
                }
                
            }
            &__price{
                padding:0 0.5em 0.5em 0.5em;
                
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

}

@media (min-width: 930px){
    .container{
        &__content{
            &__header{
                padding: 10em;
            }
            &__nav{
                display: block;
            }
            &__post{
                width: 70%;
                .block{
                    display: flex;
                }
                &__detail{
                    width: 80%;
                    &__content{
                        display: flex;
                        justify-content: flex-start;
                        &__info{
                            padding: 0 1em;
                        }
                    }
                    
                }
                &__price{
                    flex-direction: column;
                    justify-content: space-around;
                }
                .bg-img{
                    width: 50%;
                    min-width: 40%;
                }
            }
            
        }
    }
    .block{
        width: 35%;
    }
}