html, body{
    box-sizing: border-box;
    font-family: cursive;
    position: relative;
}
*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    &__header{
        position: relative;
        height: 50em;
        background-image: url('/assets/images/me/1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // background: url('/assets/images/1.jpg') no-repeat top center;
        margin-bottom: 1em;
        &__content{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10em;
        }
    }
    &__content{
        padding: 0 1em;
        &__toprated{
            &__post{
                .fa-map-marker-alt{
                    margin: 0 0.5em;
                }
                &__place{
                    &:hover{
                        color: #39d1e6;
                    }
                }
            }
        }
    }
    .chosen{
        &:hover{
            color: #39d1e6;
        }
    }
}
@media (min-width: 930px){
    .container{
        &__content{
            &__cities{
                padding: 1em 0;
            }
            &__toprated{
                padding: 1em 0;
            }
        }
    }
}