<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/assets/css/addPost.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
        </div>
        <div class="container__content">

            <!-- content__header -->
            <div class="container__content__header">
                <div class="container__content__header__image"
                    style="background-image: url('/assets/images/me/MINH.jpg')">
                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>


            </div>
            <!-- END_CONTENT_HEADER -->

            <!-- Content_center -->
            <div class="container__content__center">

                <form action="/partner/add-post" method="POST" enctype="multipart/form-data">
                    <div class="container__content__center__image">
                        <div class="font font--normal">Ảnh về tour du lịch sẽ được hiển thị như trên, hãy tải các bức ảnh về tour du lịch của bạn </div>
                        <input type="file" multiple name="file" id="">
                    </div>

                    <!-- Tên tour -->
                    <div class="container__content__center__title">
                        <textarea name = "name" type="text" class="font font--big font--bold font--blue"
                            placeholder="Nhập tên tour ..." rows="3"></textarea>
                    </div>

                    <!-- Chi tiết tour -->
                    <div class="container__content__center__part">

                        <div class="container__content__center__part__content">
                            <table>
                                <tr>
                                    <td class="first font font--bold">Ngày khởi hành </td>
                                    <td class="second">
                                        <textarea name = "departureDate" class="font" name="" id="" rows="1"
                                            placeholder="Hàng ngày, 1/1/2019, ..."></textarea>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td class="first font font--bold">Địa điểm khởi hành </td>
                                    <td class="second">
                                        <textarea name = "departurePlace" class="font" name="" id="" rows="1"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first font font--bold">Thời gian </td>
                                    <td class="second">
                                        <textarea name = "time" class="font" name="" id="" rows="1"
                                            placeholder="3 ngày 2 đêm ..."></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first font font--bold">Phương tiện </td>
                                    <td class="second">
                                        <textarea name = "vehicle" class="font" name="" id="" rows="1"></textarea>
                                    </td>
                                </tr>

                            </table>
                            <div class="container__content__center__part__content__order">

                                <textarea name = "cost" name="" id="" rows="1" class="font font--normal font--green font--bold"
                                    placeholder="Chi phí"></textarea>
                            </div>

                        </div>
                    </div>
                    <!-- hết chi tiết tour -->

                    <!-- Thông tin nhà cung cấp -->
                    <div class="container__content__center__part">

                        <div class="container__content__center__part__content">
                            <table>
                                <tr>
                                    <td class="first font font--bold">Tên nhà cung cấp </td>
                                    <td class="second font"></td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td class="first font font--bold">Địa chỉ</td>
                                    <td class="second">

                                    </td>
                                </tr>
                                <tr>
                                    <td class="first font font--bold">SĐT liên hệ </td>
                                    <td class="second">

                                    </td>
                                </tr>

                            </table>

                        </div>
                    </div>
                    <!-- Hết thông tin nhà cung cấp -->

                    <!-- Lịch trình -->
                    <div class="container__content__center__part">
                        <div class="container__content__center__part__title">
                            <div class="font font--normal font--bold">Lịch trình</div>
                        </div>
                        <div id="schedule" class="container__content__center__part__content">
                            <table>

                                <tr>
                                    <td class="first">
                                        <textarea name = "scheduleTime" id="" rows="1" class="time font font--bold"
                                            placeholder='Thời gian'></textarea>
                                    </td>
                                    <td class="second">
                                        <textarea name = "scheduleTitle" id="" cols="30" rows="2" class="font font--bold font--space"
                                            placeholder="Tiêu đề"></textarea>
                                        <textarea name="scheduleDetail" id="" cols="30" rows="5" class="font"
                                            placeholder="Chi tiết hoạt động"></textarea>
                                    </td>
                                </tr>

                            </table>

                        </div>
                        <div id="schedule_plus" class="container__content__center__part__option">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <!-- Hết lịch trình -->

                    <!-- Cam kết -->
                    <div class="container__content__center__part">
                        <div class="container__content__center__part__title">
                            <div class="font font--normal font--bold">Cam kết</div>
                        </div>
                        <div id="policy" class="container__content__center__part__content">
                            <table>
                                <tr>
                                    <td style="border: none">
                                        <textarea name="policy" id="" cols="100" rows="1" class="font"
                                            placeholder='Đón khách đúng giờ ...'></textarea>
                                    </td>
                                </tr>


                            </table>
                        </div>
                        <div id="policy_plus" class="container__content__center__part__option">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <!-- Hết cam kết -->
                    <button type="submit" class="btn btn--green font">Đăng bài</button>
                </form>

            </div>
            <!-- end_content_center -->

        </div>
        <!-- END_CONTENT -->

</body>

<script src="/assets/js/addPost.js"></script>
<script src="/assets/js/post.js"></script>

</html>