<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/images/logo.png">
    <link rel="stylesheet" href="/assets/css/cities.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
        </div>
        <div class="container__content">

            <div class="container__content__cities part">
                <div class="container__content__cities__title">
                    <div class="font font--big font--bold">Our cities</div>
                </div>

                <div class="part">
                    <div class="container__content__cities__city block">
                        <div class="bg-img" style="background-image: url('/assets/images/ho_guom.jpg');">
                            <h1>Ha Noi</h1>
                        </div>
                        <p class="font--bold">+76 experiences</p>
                        <p>A bustling ancient capital city with over 1000 years of history; is full of cultural
                            experiences
                            and contemporary artsy activities.</p>
                    </div>
                    <div class="container__content__cities__city block">
                        <div class="bg-img" style="background-image: url('/assets/images/ho_guom.jpg');">
                            <h1>Ha Noi</h1>
                        </div>
                        <p class="font--bold">+76 experiences</p>
                        <p>A bustling ancient capital city with over 1000 years of history; is full of cultural
                            experiences
                            and contemporary artsy activities.</p>
                    </div>
                    <div class="container__content__cities__city block">
                        <div class="bg-img" style="background-image: url('/assets/images/ho_guom.jpg');">
                            <h1>Ha Noi</h1>
                        </div>
                        <p class="font--bold">+76 experiences</p>
                        <p>A bustling ancient capital city with over 1000 years of history; is full of cultural
                            experiences
                            and contemporary artsy activities.</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="container__footer">

        </div>
    </div>
</body>

</html>