<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo.png">
    <link rel="stylesheet" href="/assets/css/city.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
        </div>
        <div class="container__content">
            <div class="container__content__header" style="background-image: url('/assets/images/me/ho_guom.jpg')">
                <h1>HO CHI MINH</h1>
                <p>blab lab lalhakj shkj fhajshf jak aks gdkg ha jkhskjhkjah ah h k </p>
            </div>

            <div class="container__content__post">
                <div class="container__content__post__title">

                </div>
                <div class="part">
                    <a href="#" class="container__content__post block">
                        <div class="bg-img" style="background-image: url('/assets/images/me/ho_guom.jpg');">
                            <h1></h1>
                        </div>
                        <div class="flex flex--spacebetween">
                            <div class="font font--small">$15 for 2 hours</div>
                        </div>
                        <p class="font font--bold">A consultative chat with Hoc and learn more about Sartoriak-Gentleman
                            Style in
                            Saigon</p>

                        <span>
                            <span>
                                <i class="fas fa-star" style="color: #35b7c9"></i>
                                <i class="fas fa-star" style="color: #35b7c9"></i>
                                <i class="fas fa-star" style="color: #35b7c9"></i>
                                <i class="fas fa-star" style="color: #35b7c9"></i>
                            </span>

                            <span>
                                <span class="font font--small">1 reviews</span>
                            </span>
                        </span>

                    </a>


                </div>
            </div>
            <!-- END__POST -->
        </div>
        <!-- END__CONTENT -->
    </div>
</body>

</html>