<div class="footer">
    <div class="footer__logo">
        <a href="/">
            <img src="/assets/images/me/name.png" alt="">
        </a>
    </div>
    <div class="footer__content">
        <div class="footer__content__part">
            <a href="/" class="footer__content__part__title">
                Trang chủ
            </a>
        </div>
        <div class="footer__content__part">
            <a class="footer__content__part__title">
                Liên hệ
            </a>
        </div>
        <div class="footer__content__part">
            <a class="footer__content__part__title">
                Giới thiệu
            </a>
        </div>
        <div class="footer__content__part">
            <div class="footer__content__part__title">
                Khách hàng và đối tác
            </div>
            <div class="footer__content__part__detail">
                <a class="footer__content__part__detail__option">Trở thành đối tác</a>
                <a class="footer__content__part__detail__option">Đăng nhập</a>
            </div>
        </div>
        <div class="footer__content__part">
            <div class="footer__content__part__title">
                Quản lý website
            </div>
            <div class="footer__content__part__detail">
                <a class="footer__content__part__detail__option">Đăng nhập</a>

            </div>
        </div>
    </div>
</div>