<div class="header" style="background-color: #fff; box-shadow: 0 0 1em gray;">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <div class="header__left">
        <div class="header__left__title" style="color: #39d1e6">
            <a href="/">
                <img src="/assets/images/me/logo.png" alt="" class = "logo">
            </a>
            
        </div>
        <div class="header__left__search">
            <input type="text" placeholder="Choose city ...">
        </div>
    </div>

    <div class="header__center">
        <div class="header__center__menu">
            <div class="header__center__menu__option">
                <a class="font--bold">Explore</a>
            </div>
            <div class="header__center__menu__option">
                <a class="font--bold">About us</a>
            </div>
            <div class="header__center__menu__option">
                <a class="font--bold">Host an activity</a>
            </div>
            <div class="header__center__menu__option">
                <a class="font--bold">Bookings</a>
            </div>
            <div class="header__center__menu__option">
                <a class="font--bold">Inbox</a>
            </div>
        </div>
    </div>

    <div class="header__right">
        <div class="header__right__menu">
            <div class="header__right__menu__icon">
                <i class="fas fa-bars" style="color: gray"></i>
            </div>
            <div class="header__right__menu__option">
                <i class="fas fa-sort-up"></i>
                <ul>
                    <li>
                        <a href="#">Edit profile</a>
                    </li>
                    <li>
                        <a href="/aboutus">About us</a>
                    </li>
                    <li>
                        <a href="#">Host an activity</a>
                    </li>
                    <li>
                        <a href="/signin">Sign in</a>
                    </li>
                    <li>
                        <a href="/signin">Bookings</a>
                    </li>
                    <li>
                        <a href="/signin">Inbox</a>
                    </li>
                    <li>
                        <a href="/signin">Activities I'm hosting</a>
                    </li>
                    <li>
                        <a href="/signin">Sign out</a>
                    </li>
                </ul>
            </div>
            <div class="header__right__menu__signin">
                <a class="btn btn--blue">Sign in</a>
            </div>
            <div class="header__right__menu__user" style="display: none">
                <img src="/assets/images/me/MINH.jpg" alt="" class="avt avt--circle">
            </div>
        </div>


    </div>


    <script src="/assets/js/header.js"></script>
</div>