<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="header__left">
            <div class="header__left__title">DiscoverVietnam</div>
        </div>

        <div class="header__center">
            <div class="header__center__menu">
                <div class="header__center__menu__option">
                    <a class="font--white font--bold">Explore</a>
                </div>
                <div class="header__center__menu__option">
                    <a class="font--white font--bold">About us</a>
                </div>
                <div class="header__center__menu__option">
                    <a class="font--white font--bold">Host an activity</a>
                </div>
            </div>
        </div>

        <div class="header__right">
            <div class="header__right__menu">
                <div class="header__right__menu__icon">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="header__right__menu__option">
                
                    <ul>
                        <li>
                            <a href="#">Explore</a>
                        </li>
                        <li>
                            <a href="/aboutus">About us</a>
                        </li>
                        <li>
                            <a href="#">Host an activity</a>
                        </li>
                        <li>
                            <a href="/signin">Sign in</a>
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>
        
        
        <script src="/assets/js/header.js"></script>
    </div>
</body>

</html>