<div class="header" style="background-color: #fff; box-shadow: 0 0 1em gray;">
    
    <div class="header__left">
        <div class="header__left__title" style="color: #39d1e6">
            <a href="/">

            </a>

        </div>
        <div class="header__left__search">
            <input type="text" placeholder="Choose city ...">
        </div>
    </div>

    <div class="header__center">
        <div class="header__center__menu">
            <div class="header__center__menu__option">
                <a class="font--bold ">Khuyến mại</a>
            </div>
            <div class="header__center__menu__option">
                <a class="font--bold">Khách sạn</a>
            </div>
            <div class="header__center__menu__option">
                <a class="font--bold">Tour</a>
            </div>
            <div class="header__center__menu__option">
                <a class="font--bold">Blog</a>
            </div>
        </div>
    </div>

    <div class="header__right">
        <div class="header__right__menuNotAuthenticated">
            <div class="header__right__menuNotAuthenticated__icon">
                <i class="fas fa-user" style="color: gray"></i>
            </div>
            <div class="header__right__menuNotAuthenticated__option">
                <i class="fas fa-sort-up"></i>
                <ul>
                    <li>
                        <a href="/signin">Đăng nhập</a>
                    </li>
                    <li>
                        <a href="/signin">Đăng ký</a>
                    </li>
                    <li>
                        <a href="/signin">Khuyến mại</a>
                    </li>
                    <li>
                        <a href="/signin">Khách sạn</a>
                    </li>
                    <li>
                        <a href="/signin">Tour</a>
                    </li>
                    <li>
                        <a href="/signin">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="header__right__menu__signin">
                <a class="btn btn--blue">Sign in</a>
            </div> -->
            
        </div>
        <div class="header__right__menuAuthenticated">
            <div class="header__right__menuAuthenticated__user" style="display: none">
                <img src="/assets/images/me/MINH.jpg" alt="" class="avt avt--circle">
            </div>
            <div class="header__right__menuAuthenticated__option">
                <i class="fas fa-sort-up"></i>
                <ul>
                    <li>
                        <a href="/signin">Khuyến mại</a>
                    </li>
                    <li>
                        <a href="/signin">Khách sạn</a>
                    </li>
                    <li>
                        <a href="/signin">Tour</a>
                    </li>
                    <li>
                        <a href="/signin">Blog</a>
                    </li>
                    <li>
                        <a href="/signin">Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a href="/signin">Quản lý đơn hàng</a>
                    </li>
                    <li>
                        <a href="/signin">Đăng xuất</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="header__right__menu__signin">
                <a class="btn btn--blue">Sign in</a>
            </div> -->
        </div>


    </div>


    <script src="/assets/js/header.js"></script>
</div>