<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo.png">
    <title>DiscoverVietnam</title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
            <div class="container__header__content">
                <div class="container__header__content__search">
                    <div class="font font--normal font--bold">Bạn muốn đi du lịch ở đâu?</div>
                    <input type="text" placeholder="Địa điểm ..."></br>
                    <button class="font btn btn--green">Tìm tour</button>  
                </div>
            </div>
        </div>
        <!-- END__HEADER -->

        <div class="container__content">
            <div class="container__content__cities">
                <div class="container__content__cities__title">
                    <div class="font font--bold font--normal">Tour trong nước</div>
                </div>
                <div class="part">
                    <a href="/city" class="container__content__cities__city block chosen">
                        <div class="bg-img" style="background-image: url('/assets/images/me/opq1421827395.webp');">
                            <h1>Đà Lạt</h1>
                        </div>
                    </a>
                    <a href="/city" class="container__content__cities__city block chosen">
                        <div class="bg-img" style="background-image: url('/assets/images/me/ho_guom.jpg');">
                            <h1>Hà Nội</h1>
                        </div>
                    </a>
                    <a href="/city" class="container__content__cities__city block chosen">
                        <div class="bg-img" style="background-image: url('/assets/images/me/opq1421827395.webp');">
                            <h1>Đà Lạt</h1>
                        </div>
                    </a>
                    <a href="/city" class="container__content__cities__city block chosen">
                        <div class="bg-img" style="background-image: url('/assets/images/me/ho_guom.jpg');">
                            <h1>Hà Nội</h1>
                        </div>
                    </a>
                    <a href="/city" class="container__content__cities__city block chosen">
                        <div class="bg-img" style="background-image: url('/assets/images/me/opq1421827395.webp');">
                            <h1>Đà Lạt</h1>
                        </div>
                    </a>
                    <a href="/city" class="container__content__cities__city block chosen">
                        <div class="bg-img" style="background-image: url('/assets/images/me/ho_guom.jpg');">
                            <h1>Hà Nội</h1>
                        </div>
                    </a>
                    

                </div>
                
                

            </div>
            <!-- END__CITIES -->

            <div class="container__content__toprated">
                <div class="container__content__toprated__title">
                    <div class="font font--big font--bold">Saigon's top rated</div>
                </div>
                <div class="part">
                    <div class="container__content__toprated__post block">
                        <a href="" class="bg-img" style="background-image: url('/assets/images/me/ho_guom.jpg');">
                            <h1></h1>
                        </a>
                        <div class="flex flex--spacebetween">
                            <div class="font font--small">$15 for 2 hours</div>
                            <a href="/city" class="container__content__toprated__post__place flex">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="font font--small">Ho Chi Minh
                                    City</div>

                            </a>
                        </div>
                        <p class="font font--bold">
                            <a class="chosen" href="#">A consultative chat with Hoc and learn more about Sartoriak-Gentleman
                                Style in
                                Saigon</a>
                        </p>

                        <span>
                            <span>
                                <i class="fas fa-star" style="color: #35b7c9"></i>
                                <i class="fas fa-star" style="color: #35b7c9"></i>
                                <i class="fas fa-star" style="color: #35b7c9"></i>
                                <i class="fas fa-star" style="color: #35b7c9"></i>
                            </span>

                            <span>
                                <span class="font font--small">1 reviews</span>
                            </span>
                        </span>

                    </div>
                </div>

            </div>
            <!-- END__TOPRATED -->
        </div>
        <!-- END__CONTENT -->
    </div>

</body>

</html>