<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo.png">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
        </div>
        <div class="container__content">

            <!-- content__header -->
            <div class="container__content__header">
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/MINH.jpg')">
                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>


            </div>
            <!-- END_CONTENT_HEADER -->

            <!-- Content_center -->
            <div class="container__content__center">
                <!-- Tên tour -->
                <div class="container__content__center__title">
                    <div class="font font--big font--bold font--blue">Tour Du Lịch Đà Lạt Thác Voi - Làng Nghề 1 Ngày</div>
                </div>

                <!-- Chi tiết tour -->
                <div class="container__content__center__part">

                    <div class="container__content__center__part__content">
                        <table>
                            <tr>
                                <td class="first font font--bold">Ngày khởi hành </td>
                                <td class="second font">Hàng ngày</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td class="first font font--bold">Địa điểm khởi hành </td>
                                <td class="second">
                                    Đà Lạt
                                </td>
                            </tr>
                            <tr>
                                <td class="first font font--bold">Thời gian </td>
                                <td class="second">
                                    3 ngày 2 đêm
                                </td>
                            </tr>
                            <tr>
                                <td class="first font font--bold">Phương tiện </td>
                                <td class="second">
                                    Ô tô
                                </td>
                            </tr>

                        </table>
                        <div class="container__content__center__part__content__order">
                            <div class="font font--normal font--green font--bold">300.000 VND</div>
                            <button class="btn btn--blue font">Đặt ngay</button>
                        </div>

                    </div>
                </div>
                <!-- hết chi tiết tour -->

                <!-- Thông tin nhà cung cấp -->
                <div class="container__content__center__part">

                    <div class="container__content__center__part__content">
                        <table>
                            <tr>
                                <td class="first font font--bold">Tên nhà cung cấp </td>
                                <td class="second font"></td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td class="first font font--bold">Địa chỉ</td>
                                <td class="second">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="first font font--bold">SĐT liên hệ </td>
                                <td class="second">
                                    
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
                <!-- Hết thông tin nhà cung cấp -->

                <!-- Lịch trình -->
                <div class="container__content__center__part">
                    <div class="container__content__center__part__title">
                        <div class="font font--normal font--bold">Lịch trình</div>
                    </div>
                    <div class="container__content__center__part__content">
                        <table>
                            <tr>
                                <td class="first time font font--bold">8:30 - 9:30</td>
                                <td class="second font">Đón khách tại Khách sạn Tham quan: Vườn Hoa và Vườn Rau Vạn
                                    Thành</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td class="first time font font--bold">8:30 - 9:30</td>
                                <td class="second">
                                    <div class="font font--bold font--space">Cơ sở sản xuất tơ tằm</div>
                                    <div class="font">Sau khi các bạn tham quan cách nuôi tằm lấy tơ – tại đây quý khách
                                        sẽ học được cách
                                        lấy tơ từ kén tằm và quấn dệt thành lụa . Đồng thời quý khách có thể mua các sản
                                        phẩm từ tơ tằm tại đây.</div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <!-- Hết lịch trình -->

            </div>
            <!-- end_content_center -->

        </div>
        <!-- END_CONTENT -->

</body>

<script src="/assets/js/post.js"></script>

</html>