<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo.png">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
        </div>
        <div class="container__content">
            <div class="container__content__header">
                <div class="container__content__header__image"
                    style="background-image: url('/assets/images/me/MINH.jpg')">
                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>
                <div class="container__content__header__image" style="background-image: url('/assets/images/me/1.jpg')">

                </div>


            </div>
            <!-- END_CONTENT_HEADER -->

            <div class="container__content__content">
                <div class="container__content__content__title">
                    <div class="font font--big font--bold font--gray">Create your Halo ring – have a creative photoshoot
                        at a hidden D2 foreshore</div>
                </div>
                <div class="container__content__content__descript">
                    <div class="font--gray">I'll take you to a hidden river foreshore in District 2. We will do a
                        long-exposure photoshoot using some DIY tools to create a beautiful halo on your head. </div>
                </div>
                <div class="container__content__content__host">
                    <div class="container__content__content__host__image">
                        <img src="/assets/images/me/MINH.jpg" alt="">
                    </div>
                    <div class="container__content__content__host__info">
                        Hosted by <a href="">Tran Duc Minh </a>
                        in <a href="">Ho Chi Minh </a> City

                    </div>
                </div>

                <div class="container__content__content__left">
                    <div class="container__content__content__left__part">
                        <div class="container__content__content__left__part__title">
                            <div class="font--bold">About your host</div>
                        </div>
                        <div class="container__content__content__left__part__detail">
                            <div class="font--gray">I'm a software engineer who loves travelling, Muay Thai, coffee
                                and philosophy. I always have a big passion for creative and unique travel experiences
                                that go beyond the scope of mainstream tourism.</div>
                        </div>
                    </div>
                    <!-- END_ABOUT_HOST -->

                    <div class="container__content__content__left__part">
                        <div class="container__content__content__left__part__title">
                            <div class="font--bold">What we will do</div>
                        </div>
                        <div class="container__content__content__left__part__detail">
                            <div class="font--gray">My photographer friend and I will take you to a hidden (read: lesser
                                known) river foreshore in District 2 (Thu Thiem area), overlooking the Saigon's D1
                                skyline. From here, we will do some creative photography tricks to create a halo on your
                                head.

                                This is a great opportunity to have some cool photos to share on Facebook or Instagram,
                                then see your friends dropping their jaws asking themselves how on earth this is
                                possible. We will do the shoot and apply some after effect editing, then we send the
                                retouched photos to your email address.

                                The shoot will take 30 minutes or so, but we will bring a few cans of beers in case we
                                are up for a drink (we probably will, very cool spot for sure).</div>
                        </div>
                    </div>
                    <!-- END_WHAT_WE_WILL_DO -->

                    <div class="container__content__content__left__part">
                        <div class="container__content__content__left__part__title">
                            <div class="font--bold">What we will provide</div>
                        </div>
                        <div class="container__content__content__left__part__detail">
                            <div class="font--gray">A beer, our toolkit for the halo making effect.</div>
                        </div>
                    </div>
                    <!-- END_WHAT_WE_WILL_PROVIDE -->

                    <div class="container__content__content__left__part">
                        <div class="container__content__content__left__part__title">
                            <div class="font--bold">Who can do this</div>
                        </div>
                        <div class="container__content__content__left__part__detail">
                            <div class="font--gray">Anybody, especially those that love wowing people on Instagram :D
                            </div>
                        </div>
                    </div>
                    <!-- END_WHI_CAN_DO_THIS -->

                    <div class="container__content__content__left__part">
                        <div class="container__content__content__left__part__title">
                            <div class="font--bold">Why you should do this</div>
                        </div>
                        <div class="container__content__content__left__part__detail">
                            <div class="font--gray">Wow your friends on social media because the photos will be awesome!
                            </div>
                        </div>
                    </div>
                    <!-- END_WHY_YOU_SHOULD_DO_THIS -->

                    <div class="container__content__content__left__part">
                        <div class="container__content__content__left__part__title">
                            <div class="font--bold">Where we will do this</div>
                        </div>
                        <div class="container__content__content__left__part__detail">
                            <div class="font--gray">District 2, Ho Chi Minh City, Vietnam
                            </div>
                        </div>
                    </div>
                    <!-- WHERE_WE_WILL_DO_THIS -->

                    <div class="container__content__content__left__part">
                        <div class="container__content__content__left__part__title">
                            <div class="font--bold">Notes</div>
                        </div>
                        <div class="container__content__content__left__part__detail">
                            <div class="font--gray">This activity is only available during night time.

                                This activity won't be possible to do if it rains, so in case it rains, we will have to
                                delay to the next day.
                            </div>
                        </div>
                    </div>
                    <!-- NOTES -->

                </div>
                <!-- END_CONTENT_LEFT -->

                <div class="container__content__content__right">
                    <div class="container__content__content__right__booking">
                        <div class="container__content__content__right__booking__price">
                            <span class="font font--bold font--big">$15</span>
                            <span class="font font--normal font--gray">for 2 hours</span>
                        </div>
                        <div class="container__content__content__right__booking__order">
                            <button id="order" class="font font--white font--bold">Book with</button>
                        </div>
                    </div>

                    <div class="container__content__content__right__review">
                        <div class="container__content__content__right__review__title">
                            <div class="font font--big font--bold">Reviews</div>
                        </div>
                        <div class="container__content__content__right__review__detail">
                            <div class="container__content__content__right__review__detail__user">
                                <span>
                                    <img src="/assets/images/me/MINH.jpg" alt="">
                                </span>
                                <span>
                                    <a class="font--bold" href="" class="">Jayce</a>
                                </span>
                            </div>
                            <div class="container__content__content__right__review__detail__detail">
                                <div class="font">Everything was Perfect ! Tri and his friend came pick me at My place
                                    and being me To the spot. Here de get à lot of fun doing this expérie...</div>
                            </div>
                        </div>
                        <div class="container__content__content__right__review__comment">
                            <div>
                                <img src="/assets/images/me/MINH.jpg" alt="">
                            </div>
                            <input type="text" placeholder="Write comment ...">
                        </div>
                    </div>
                </div>
                <!-- END_CONTENT_RIGHT -->

            </div>
            <!-- END_CONTENT_CONTENT -->
        </div>
        <!-- END_CONTENT -->
    </div>
</body>

<script src="/assets/js/post.js"></script>

</html>